<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pass.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">SecurePass Generator</h1>
        <form id="passwordForm" action="/generate_password" method="post">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" autocomplete="off" required>
            <label for="birthdate">Your Birthdate:</label>
            <input type="date" id="birthdate" name="birthdate" required>
            <label for="length">Password Length:</label>
            <input type="number" id="length" name="length" min="6" max="30" required>
            <button type="submit" onclick="submitForm()">Generate Secure Password</button>
        </form>
        {% if error %}
            <p id="validationError" class="error">{{ error }}</p>
        {% endif %}
        {% if password %}
            <p id="generatedPassword" class="generated">Generated Password: {{ password }}</p>
        {% endif %}
    </div>

    <script>
        function submitForm() {
            // Get the password length
            var length = document.getElementById('length').value;

            // Check if the length is below 6
            if (length < 6) {
                document.getElementById('validationError').innerText = 'Password length must be at least 6.';
                return;
            }

            // Clear the validation error
            document.getElementById('validationError').innerText = '';

            // Submit the form
            document.getElementById('passwordForm').submit();

            // Clear the input fields and generated password after a delay (e.g., 3 seconds)
            setTimeout(function() {
                document.getElementById('name').value = '';
                document.getElementById('birthdate').value = '';
                document.getElementById('length').value = '';
                document.getElementById('generatedPassword').innerText = '';
            }, 3000);
        }
    </script>
</body>
</html>
